<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="card-group.css">
  <title>Document</title>
</head>
<body>
  
    <nav class="bg-black navbar">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
              <!-- Mobile menu button-->
              <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                <span class="absolute -inset-0.5"></span>
                <span class="sr-only">Open main menu</span>
                <!--
                  Icon when menu is closed.
      
                  Menu open: "hidden", Menu closed: "block"
                -->
                <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
                <!--
                  Icon when menu is open.
      
                  Menu open: "block", Menu closed: "hidden"
                -->
                <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
              <div class="flex flex-shrink-0 items-center">
                <img class="h-8 w-auto" src="LogoHand.jpg" alt="Your Company">
              </div>
              <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Home</a>
                  <a href="#" class="text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium nav-link aboutnav">About</a>
                  <a href="#" class="text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium nav-link features">Features</a>
                  <a href="#" class="text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium nav-link contact">Contact</a>
                </div>
              </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
              <button type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                <span class="absolute -inset-1.5"></span>
                <span class="sr-only">View notifications</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                </svg>
              </button>
      
              <!-- Profile dropdown -->
              <div class="relative ml-3">
                <div>
                  <button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">Open user menu</span>
                  </button>
                </div>
      
                <!--
                  Dropdown menu, show/hide based on menu state.
      
                  Entering: "transition ease-out duration-100"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                  Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
              </div>
            </div>
          </div>
        </div>
      
        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="sm:hidden" id="mobile-menu">
          <div class="space-y-1 px-2 pb-3 pt-2">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="#" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Home</a>
            <a href="#" class="text-gray-300 hover:bg-gray-900 hover:text-white block rounded-md px-3 py-2 text-base font-medium nav-link aboutnav">About</a>
            <a href="#" class="text-gray-300 hover:bg-gray-900 hover:text-white block rounded-md px-3 py-2 text-base font-medium nav-link features">Features</a>
            <a href="#" class="text-gray-300 hover:bg-gray-900 hover:text-white block rounded-md px-3 py-2 text-base font-medium nav-link contact">Contact</a>
          </div>
        </div>
      </nav>
      
  
  <div class="card  mb-3 first ">
    <div id="particles-js"></div>
    <div class="card-body">
      <h5 class="card-title heading" id="title">SIGN SATHI</h5>
      <p class="card-text main">Hearts that Speak,Hands that Hear</p>
      <a href="/Signup" class="btn join" onclick="redirectToSignup()">JOIN THE WAITLIST</a>
    </div>
  </div>
  <div class="center-horizontal">
  <div class="card second border-blue transparent-background" style="width: 40rem;">
    <div class="card-body-secondary">
      <h5 class="card-title font">Why SignSathi?</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
      <p class="card-text">In a world where communication barriers isolate communities, Sign Sathi emerges as a beacon of inclusivity and empowerment. Designed specifically for the diverse linguistic landscape of India, Sign Sathi promises seamless two-way communication for the Deaf and Dumb community, transcending the limitations of Sign Language literacy.</p>
    </div>
  </div></div>
  <a href="#" class="btn video">VIEW LIVE DEMO</a>
  <div id="features" class="card-group">
    <div class="card" >
      <div class="card-body2">
        <h5 class="card-title2">ASL to Speech Translation</h5>
        <p class="card-text">Can translate ASL to speech via speakers in gloves promoting ease at communicating</p>
        <div class="shine"></div>
        <div class="background">
          <div class="tiles">
            <div class="tile tile-1"></div>
            <!-- More tiles... -->
            <div class="tile tile-10"></div>
          </div>
          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>
      </div>
    </div> <!-- Closing card div here -->
  
    <div class="card"> <!-- Start of second card -->
      <div class="card-body2">
        <h5 class="card-title2">Voice to Glove Display</h5>
        <p class="card-text">Can convert voice of users to text for the deaf & dumb, with the help of the OLED screen attached in gloves.</p>
        <div class="shine"></div>
        <div class="background">
          <div class="tiles">
            <div class="tile tile-1"></div>
            <!-- More tiles... -->
            <div class="tile tile-10"></div>
          </div>
          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>
      </div>
    </div> <!-- Closing card div here -->
  </div>

  <div class="about">
    <div class="flex">
      <div class="card second transparent-background" style="width: 40rem;">
        <div class="card-body-secondary2 picture">
          <h5 class="card-title-about font">So why are we doing it?</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
          <p class="card-text">Envision a scenario where a deaf child or a stroke survivor or maybe a challenged educator, anyone who knows a lot more than others, once robbed of speech by their condition, engages in heartfelt conversations with their world, articulating their struggles and triumphs without the need for external aid. Feel the profound sense of empowerment as they reclaim their voice, one word at a time. Imagine the freedom for them! That's why!!! </p>
        </div>
      </div>
      <div class="image-container">
        <img src="Hand.png" alt="Description of the image">
      </div>
    </div>
  </div>
  
    <div class="center-horizontal">
      <div class="card second transparent-background" style="width: 40rem;border: 2px solid rgb(13, 13, 142);">
        <div class="card-body-list">
          <h5 class="card-title font">What's included?</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
          <p class="card-text"> <ul class="list-disc">
            <li>Potential to train any Indian language with optimized accuracy.</li>
            <li>Smooth 2-way communication enhancing sharing of ideas.</li>
            <li>An OLED screen that reciprocates with haptics for the user.</li>
            <li>Works with mobile hotspot at any suitable place.</li>
            <li>A guaranteed smile on the faces of millions.</li>
          </ul></p>
        </div>
      </div></div>
      
        <div class="card second styling transparent-background cnt" style="width:40rem;">
          <div class="card-body-contact">
            <h5 class="card-title font">Want updates?</h5>
            <a href="/contact" class="btn" onclick="redirectToContact()">Get In Touch!!!</a>
            <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
            </div>
        </div>
      
        <footer class="bg-gray-800" >
          <div class="container px-8 pt-16 pb-8 mx-auto space-y-8 text-gray-400">
            <div class="grid grid-cols-1 gap-4 grid-cols-3">
              <div class="col-span-2 space-y-4">
                <h4 class="flex flex-row items-center space-s-2">
                  <span aria-hidden="true" class="fas fa-link"></span>
                  <span>Links</span></h4>
                  <div class="grid grid-flow-row grid-cols-1 gap-2 md:grid-flow-col md:grid-rows-5 md:grid-cols-none">
                    <a href="https://www.brightsignglove.com/" class="transition duration-300 hover:text-gray-300">Home</a>
                    <a href="https://www.brightsignglove.com/#features#features" class="transition duration-300 hover:text-gray-300">Features</a>
                    <a href="https://www.brightsignglove.com/about" class="transition duration-300 hover:text-gray-300">About</a>
                    <a href="https://www.brightsignglove.com/workshops" class="transition duration-300 hover:text-gray-300">Workshops</a>
                    <a href="https://www.brightsignglove.com/careers" class="transition duration-300 hover:text-gray-300">Careers<span class="p-1 px-2 text-xs font-bold text-white uppercase rounded ms-2 bg-gradient">Now Hiring</span></a>
                    <a href="https://shop.brightsignglove.com/" class="transition duration-300 hover:text-gray-300">Store</a>
                    <a href="https://www.brightsignglove.com/support" class="transition duration-300 hover:text-gray-300">Support</a>
                    <a href="https://www.brightsignglove.com/guides/" class="transition duration-300 hover:text-gray-300">Guides &amp; Tutorials</a>
                    <a href="https://www.brightsignglove.com/faq" class="transition duration-300 hover:text-gray-300">FAQs</a>
                    <a href="https://www.brightsignglove.com/assessments" class="transition duration-300 hover:text-gray-300">Assessments</a>
                    <a href="https://www.brightsignglove.com/distributors-resellers" class="transition duration-300 hover:text-gray-300">Distributors &amp; Resellers</a>
                    <a href="https://www.brightsignglove.com/contact" class="transition duration-300 hover:text-gray-300">Contact Us</a>
                    <a href="https://www.brightsignglove.com/policies-and-terms" class="transition duration-300 hover:text-gray-300">Policies &amp; Terms</a>
                </div></div>
                <div class="space-y-4"><h4 class="flex flex-row items-center space-s-2"><span aria-hidden="true" class="fas fa-globe"></span>
                    <span>Languages</span></h4><div class="grid grid-cols-1 gap-2 grid-flow-cols">
                        <a href="/" class="transition duration-300 hover:text-gray-300">English</a><a href="/ar/" class="transition duration-300 hover:text-gray-300">العربية</a></div></div></div><div class="flex flex-row items-center justify-between"><p class="mb-0 text-gray-400">Copyright © 2022 SignSathi Technology Limited</p>
                            <div class="flex flex-row text-white space-s-2"><a href="https://www.facebook.com/brightsignglove" target="_blank" rel="noreferrer" class="flex items-center justify-center w-8 h-8 text-gray-300 transition duration-300 bg-gray-700 rounded hover:bg-gray-600 hover:text-gray-100"><span aria-hidden="true" class="text-lg fab fa-facebook"></span>
                            </a><a href="https://www.twitter.com/brightsignglove" target="_blank" rel="noreferrer" class="flex items-center justify-center w-8 h-8 text-gray-300 transition duration-300 bg-gray-700 rounded hover:bg-gray-600 hover:text-gray-100">
                                <span aria-hidden="true" class="text-lg fab fa-twitter"></span></a><a href="https://www.instagram.com/brightsignglove" target="_blank" rel="noreferrer" class="flex items-center justify-center w-8 h-8 text-gray-300 transition duration-300 bg-gray-700 rounded hover:bg-gray-600 hover:text-gray-100">
                                    <span aria-hidden="true" class="text-lg fab fa-instagram"></span></a><a href="https://www.linkedin.com/company/brightsignglove" target="_blank" rel="noreferrer" class="flex items-center justify-center w-8 h-8 text-gray-300 transition duration-300 bg-gray-700 rounded hover:bg-gray-600 hover:text-gray-100">
                                        <span aria-hidden="true" class="text-lg fab fa-linkedin"></span></a><a href="https://www.youtube.com/channel/UCQuFBv6dFDlpWsHQNZqiClw" target="_blank" rel="noreferrer" class="flex items-center justify-center w-8 h-8 text-gray-300 transition duration-300 bg-gray-700 rounded hover:bg-gray-600 hover:text-gray-100">
                                            <span aria-hidden="true" class="text-lg fab fa-youtube"></span></a></div></div></div><div class="container px-8 py-8 mx-auto text-white border-t border-gray-700"><div class="flex items-center justify-center flew-row"><p class="mb-0 text-center text-gray-400">SignSathi Technology Limited is a company incorporated in England (company number 11017734) and is authorised and regulated by the Financial Conduct Authority (reference 931169).</p></div></div></footer>
        
    
  <script src="particles.js"></script>
  <script src="app.js"></script>
  <script src="scroll.js"></script>
  <script src="/index.js"></script>
</body>
</html>
